@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightBackgroundColor: #D0E1F9;
  --lightBackgroundGreyColor: #EEF3FB;
  --mainTitleColor: #3F51B5;
  --mainTitleLightColor:#6D90C0;
  --primaryColor: #FFC61D;
  --mainTitleLightestColor:#F9FAFC;
  --lightGrayFontColor:#879CB9;

  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
